database.env
node_modules/
.env
.env.prod
dist/
.dblogs
firebase-sdk.json
dump.rdb
.DS_Store
.nyc_output/
coverage/
open-api-spec.json
junit.xml
reports/
yarn-error.log
result
.vscode/settings.json
# Devenv
.devenv*
devenv.local.nix

result